# Info Smtp
# prod
SMTP_HOST=HOST
SMTP_PORT=465
SMTP_USER=ACCOUNT
SMTP_PASSWORD=SECRET
SMTP_TLS=true

# mailcatcher
#SMTP_HOST=host.docker.internal
#SMTP_PORT=1025

# Info mail
MAIL_FROM=contact@domain.net