# Info Smtp
# prod
SMTP_HOST=HOST
SMTP_PORT=465
SMTP_USER=ACCOUNT
SMTP_PASSWORD=SECRET
SMTP_TLS=true

# mailcatcher
#SMTP_HOST=host.docker.internal
#SMTP_PORT=1025

# Info mail
MAIL_FROM=contact@domain.net

# Redis
REDIS_URL=redis://localhost:6379

# Bulk throttling
SMTP_THROTTLE_MAX_ITERATIONS=200
SMTP_THROTTLE_WINDOW_MINUTES=60

# Logging
LOG_LEVEL=INFO
