# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Env & secrets
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Virtual envs
.venv/
venv/

# Poetry
poetry.lock

# Docker
*.tar
*.img

node_modules/